@model LibraryManager.Models.Book
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color: coral">Random City Library</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec sem diam. Quisque sit amet elit mauris. Donec ut diam vel mi ullamcorper ullamcorper. Morbi et pharetra nulla, in cursus ex. Nunc vitae mattis nisi. Quisque facilisis quam et elit viverra mattis. Duis eget neque porta, dignissim arcu at, vehicula ex. Maecenas posuere maximus consequat. Suspendisse feugiat leo imperdiet justo malesuada varius. Vestibulum blandit elit et purus fermentum tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ac vestibulum est.</p>

</div>

<div class="row">
    <div class="col-md-6">
        <h2 style="color:coral">Try your luck</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec sem diam. Quisque sit amet elit mauris. Donec ut diam vel mi ullamcorper ullamcorper. Morbi et pharetra nulla, in cursus ex. Nunc vitae mattis nisi. Quisque facilisis quam et elit viverra mattis. Duis eget neque porta, dignissim arcu at, vehicula ex.
        </p>
        @Html.ActionLink("Get random book", "Details", "Library", new { id = Model.BookId }, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-6">
        <h2 style="color:coral">Book Quote</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec sem diam. Quisque sit amet elit mauris. Donec ut diam vel mi ullamcorper ullamcorper. Morbi et pharetra nulla, in cursus ex. Nunc vitae mattis nisi. Quisque facilisis quam et elit viverra mattis. Duis eget neque porta, dignissim arcu at, vehicula ex.</p>
        <p><a class="btn btn-primary" href="https://www.keepinspiring.me/quotes-about-books-and-reading/">Quotes about books &raquo;</a></p>
    </div>

</div>