@model IEnumerable<LibraryManager.Models.Book>

@{
    ViewBag.Title = "Books";
}

<h3 style="color: coral">BOOKS AVAILABLE IN OUR LIBRARY</h3>
<ul>
    @foreach (var book in Model)
            {
                <li style="font-size: 20px">@Html.ActionLink(book.Name, "Details", new { id = book.BookId})</li>
            }
</ul>

