@model IEnumerable<LibraryManager.Models.Book>

@{
    ViewBag.Title = "Books";
}

<h2>BOOKS AVAILABLE IN OUR LIBRARY</h2>
<ul>
    @foreach (var book in Model)
            {
                <li>@Html.ActionLink(book.Name, "Details", new { id = book.BookId})</li>
            }
</ul>

